# Node modules
node_modules/

# Production builds
.next/
out/
dist/

# Environment variables
.env
.env.*.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editor junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: media files

*.avi
*.mov

# Cache folders
.cache/
.next/cache/

server/node_modules/
